[Unit]
Description=MailServer MySQL Initializer
Requires=mariadb.service
After=mariadb.service

[Service]
Type=oneshot
ExecStart=/scripts/mysql_initializer.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
